<h1>Listing cohorts</h1>
 
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Course</th>
      <th scope="col">Master</th>
    </tr>
  </thead>
  <tbody>
    <% @cohorts.each do |cohort| %>
    <tr>
      <th scope="row"><%= cohort.id %></th>
      
      <td><%= cohort.name %></td>
      <td><%= cohort.start_date %></td>
      <td><%= cohort.end_date %></td>
      <td><%= cohort.course.name %></td>
      <td><%= cohort.name %></td>
      <td><%= link_to 'Show', cohort_path(cohort) %></td>
      <% if is_admin_user %>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Delete', cohort_path(cohort), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
