<h1>Listing cohorts</h1>
 
<ul>
  <% @cohorts.each do |cohort| %>
      <li><%= cohort.name %></li>
      <li><%= cohort.start_date %></li>
      <li><%= cohort.end_date %></li>
      <li><%= link_to 'Show', cohort_path(cohort) %></li>
      <% if is_admin_user %>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Delete', cohort_path(cohort), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  <% end %>
</ul>
