<h1>New Cohort</h1>

<%= form_with scope: :cohort, url: cohorts_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>
 
  <p>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </p>

  <p>
    <%= form.select(:course_id, options_from_collection_for_select(Course.all, :id, :name)) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
