<p>
  <strong>Name of cohort:</strong>
  <%= @cohort.name %>
</p>
 
<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Master:</strong>
  <%= link_to @cohort.master.full_name, master_path(@cohort.master) %>
</p>

<p>
<% if is_admin_user %>
  <%= link_to 'Edit', edit_cohort_path(@cohort) %>
  <%= link_to 'Delete', cohort_path(@cohort), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>

<h3>Cohort Students:</h3>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">Nickname</th>
      <th scope="col">Age</th>
      <th scope="col">Education</th>
      <th scope="col">Cohort</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><img class="profile-pic" src="<%= student.picture %>"/></td>
      <td><%= student.nickname %></td>
      <td><%= student.age %></td>
      <td><%= student.education %></td>
      <td><%= student[:cohort_id] ? Cohort.find(student[:cohort_id]).try(:name) : '' %></td>
      <td><%= link_to 'Show', student_path(student) %>
      <% if is_admin_user %>
        <%= link_to 'Edit', edit_student_path(student) %>
        <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if is_admin_user %>
<h3>Unassigned students:</h3>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">Nickname</th>
      <th scope="col">Age</th>
      <th scope="col">Education</th>
      <th scope="col">Cohort</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students_unassigned.each do |student_unassigned| %>
    <tr>
      <td><img class="profile-pic" src="<%= student_unassigned.picture %>"/></td>
      <td><%= student_unassigned.nickname %></td>
      <td><%= student_unassigned.age %></td>
      <td><%= student_unassigned.education %></td>
      <td><%= student_unassigned[:cohort_id] ? Cohort.find(student_unassigned[:cohort_id]).try(:name) : '' %></td>
      <td><%= link_to 'Show', student_path(student_unassigned) %>
      <% if is_admin_user %>
        <%= link_to 'Edit', edit_student_path(student_unassigned) %>
        <%= link_to 'Delete', student_path(student_unassigned), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
