<h1>Listing students</h1>
 
<ul>
  <% @students.each do |student| %>
      <li><%= student.first_name %></li>
      <li><%= student.last_name %></li>
      <li><%= student.age %></li>
      <li><%= student.education %></li>
      <li><%= link_to 'Show', student_path(student) %></li>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</ul>
