<h1>Listing students</h1>
 
<ul>
  <% @students.each do |student| %>
      <li><%= student.first_name %></li>
      <li><%= student.last_name %></li>
      <li><%= student.age %></li>
      <li><%= student.education %></li>
      <li><%= link_to 'Show', student_path(student) %></li>
  <% end %>
</ul>
