<p>
  <img src="<%= @student.picture %>"/>
</p>

<p>
  <strong>Real name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @student.nickname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Abilities:</strong>
  <%= @student.abilities %>
</p>
