<p>
  <img src="<%= @student.picture %>"/>
</p>

<p>
  <strong>Real name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @student.nickname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Current cohort:</strong>
  <%= @student[:cohort_id] ? Cohort.find(@student[:cohort_id]).try(:name) : '' %>
</p>

<p>
  <strong>Abilities:</strong>
  <%= @student.abilities %>
</p>

<p>
<% if is_admin_user %>
  <%= link_to 'Edit', edit_student_path(@student) %>
  <%= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
