<h1>Listing masters</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Education</th>
      <% if is_admin_user %>
        <th scope="col">Salary</th>
      <% end %>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @masters.each do |master| %>
    <tr>
      <th scope="row"><%= master.id %></th>
      
      <td><%= master.full_name %></td>
      <td><%= master.age %></td>
      <td><%= master.education %></td>
      <% if is_admin_user %>
        <td><%= master.salary %></td>
      <% end %>
      <td>
      <%= link_to 'Show', master_path(master) %>
      <% if is_admin_user %>
        <%= link_to 'Edit', edit_master_path(master) %>
        <%= link_to 'Delete', master_path(master), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
