<p>
  <strong>Picture</strong>
  <img src="<%= @master.picture %>"/>
</p>

<p>
  <strong>First name</strong>
  <%= @master.first_name %>
</p>

<p>
  <strong>Last name</strong>
  <%= @master.last_name %>
</p>

<p>
  <strong>Age</strong>
  <%= @master.age %>
</p>

<p>
  <strong>Salary $</strong>
  <%= @master.salary %>
</p>

<p>
  <strong>Education</strong>
  <%= @master.education %>
</p>

<p>
  <strong>Cohort</strong>
  <%= @master.education %>
</p>

<p>
  <strong>Abilities</strong>
  <%= @master.abilities %>
</p>
