<p>
  <img src="<%= @master.picture %>"/>
</p>

<p>
  <strong>First name:</strong>
  <%= @master.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @master.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @master.age %>
</p>

<p>
  <strong>Salary $:</strong>
  <%= @master.salary %>
</p>

<p>
  <strong>Education:</strong>
  <%= @master.education %>
</p>

<p>
  <strong>Cohorts:</strong>
  <ul>
  <% @master.cohorts.each do |cohort| %>
    <li><%= cohort.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Abilities:</strong>
  <%= @master.abilities %>
</p>

<p>
<% if is_admin_user %>
  <%= link_to 'Edit', edit_master_path(@master) %>
  <%= link_to 'Delete', master_path(@master), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
