<h1>Courses offered by school:</h1>
 
 <div class="card-deck mb-4">
  <% @courses.each do |course| %>
  <div class="card w-100">
      <% if course.name == "Martial Arts"%>
        <img class="card-img-top" src="/assets/ninja-l.jpg" alt="Card image cap">
      <% elsif course.name == "Universe wise"%>
        <img class="card-img-top" src="/assets/star.webp" alt="Card image cap">
      <% elsif course.name == "Software Engineering"%>
        <img class="card-img-top" src="/assets/matrix.jpg" alt="Card image cap">
      <% else %>
        <img class="card-img-top" src="/assets/new.png" alt="Card image cap">
      <% end %>
      <div class="card-body">
        <h3 class="card-title"><%= course.name %></h3>
        <ul>
        <li><%= course.hours %> hours</li>
        <li>
        <%= link_to 'Show', course_path(course) %>
        <% if is_admin_user %>
          <%= link_to 'Edit', edit_course_path(course) %>
          <%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
      </div>
    </div>
  <% end %>
</div>

<p>
<% if is_admin_user %>
  <%= link_to 'Add course', new_course_path(@course) %>
<% end %>
</p>
