<h1>Listing courses</h1>
 
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <th scope="row"><%= course.id %></th>
      
      <td><%= course.name %></td>
      <td><%= course.hours %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
      <% if is_admin_user %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
