<p>
  <% if @course.name == "Martial Arts"%>
        <img class="show-pic" src="/assets/ninja-l.jpg" alt="Card image cap">
      <% elsif @course.name == "Universe wise"%>
        <img class="show-pic" src="/assets/star.webp" alt="Card image cap">
      <% elsif @course.name == "Software Engineering"%>
        <img class="show-pic" src="/assets/matrix.jpg" alt="Card image cap">
      <% else %>
        <img class="show-pic" src="/assets/new.png" alt="Card image cap">
  <% end %>
</p>

<h3>
  <strong>Name of the course:</strong>
  <%= @course.name %>
</h3>
 
<p>
  <strong>Hours: </strong>
  <%= @course.hours %>
</p>

<p>
<% if is_admin_user %>
  <%= link_to 'Edit', edit_course_path(@course) %>
  <%= link_to 'Delete', course_path(@course), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>

<h3>Course Cohorts:</h3>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Course</th>
      <th scope="col">Master</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cohorts.each do |cohort| %>
    <tr>
      <td><%= cohort.id %></td>
      <td><%= cohort.name %></td>
      <td><%= cohort.start_date %></td>
      <td><%= cohort.end_date %></td>
      <td><%= cohort.course.name %></td>
      <td><%= cohort.master.full_name %></td>
      <td>
        <%= link_to 'Show', cohort_path(cohort) %>
        <% if is_admin_user %>
          <%= link_to 'Edit', edit_cohort_path(cohort) %>
          <%= link_to 'Delete', cohort_path(cohort), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

